name: Test drivers against a matrix of kernels/distros

on:
  workflow_dispatch:
    inputs:
      libsversion:
        description: 'libs version to be tested, eg: master'
        type: string
        required: false
        default: 'master'
      libsrepo:
        description: 'libs repo to be tested, eg: falcosecurity/libs'
        type: string
        required: false
        default: 'falcosecurity/libs'
  workflow_call:
    inputs:
      libsversion:
        description: 'libs version to be tested, eg: master'
        type: string
        required: false
        default: 'master'
      libsrepo:
        description: 'libs repo to be tested, eg: falcosecurity/libs'
        type: string
        required: false
        default: 'falcosecurity/libs'

concurrency:
  group: kernel-tests
  cancel-in-progress: false

jobs:
  test-kernels:
    strategy:
      fail-fast: false
      matrix:
        architecture: [ X64, ARM64 ]
    runs-on: [ "self-hosted", "linux", "${{matrix.architecture}}", "kernel-testing-matrix" ]
    steps:
      - uses: falcosecurity/kernel-testing@bff51208f221f61475c215c5b05ffd69656905a5
        id: kernel_tests
        with:
          libsversion: ${{ inputs.libsversion }}
          libsrepo: ${{ inputs.libsrepo }}
          build_matrix: 'true'
          images_tag: 'v0.4.0'

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ansible_output_${{matrix.architecture}}
          path: ${{ steps.kernel_tests.outputs.ansible_output }}

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: matrix_${{matrix.architecture}}
          path: ${{ steps.kernel_tests.outputs.matrix_output }}
